@import '../styles/variables';

.form-builder-page {
  min-height: 100vh;
  background: $bg-secondary;
  display: flex;
  flex-direction: column;

  .form-builder-content {
    display: flex;
    flex: 1;
    position: relative;

    .canvas-and-sidebar {
      display: flex;
      flex: 1;
      position: relative;
    }
  }
}